.box {
  background-color: white;
  opacity: 1; /* 100% opacity for better readability */
  width: 24vw;
  height: 36vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px; /* Adjusted for a softer look */
  border: 2px solid transparent; /* Make the actual border transparent */
  margin-top: 20vh;
  margin-left: 5vw;
  transition: box-shadow 0.3s, transform 0.3s; /* Add transform to transition for smooth scale effect */
  position: relative; /* Required for pseudo-element positioning */
  overflow: hidden; /* Ensures no overflow from the pseudo-elements */
  input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.box:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Enhanced shadow for more depth */
  background-image: linear-gradient(
    45deg,
    #ade8f4,
    #caf0f8
  ); /* Gradient background on hover */
  transform: scale(1.05); /* Slight scale for depth */
}

.box::before {
  content: ""; /* Required for pseudo-elements */
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 18px;
  border: 2px dashed black;
  pointer-events: none; /* Prevents the pseudo-element from interfering with drag/drop */
 /* Apply animation to the dashed border */
}

p {
  opacity: 50%;
  font-size: large;
}


